@import url('https://fonts.googleapis.com/css?family=Nova+Round&display=swap');

.branding {
    font-family: 'Nova Round', cursive;
    font-weight: 400;
    font-size: 36px;

}
#navbar {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.menu{
    transform: scale(1.8);  
}
